 .imgleft {
   max-width: 250px;
   max-height: 300px;
   float: left;
   clear: both;

 }

 .imgright {
   max-width: 250px;
   max-height: 300px;
   float: right;
   clear: both;
 }
 .logo{
  max-width: 50px;
  max-height: 50px;
  float: right
 }

 .paragraphs {
   padding: 25px;
 }


 .contactus {
   margin: 0 auto;
   border: 20px;
   padding: 50px;
   width: 60%;
   align-items: center;

 }

 
 .schedule {
   margin: 0 auto;
   width: 60%;
   padding: 20px;
   align-items: center;
   text-align: center;
   font-size: 17pt;
 }

 .thicklines {
   border-bottom: thick solid black;
 }

 .thinlines {
   border: thin solid black;
 }
 