 img{
    max-width: 250px;
    max-height: 300px;
    float: left;
    
 }
 form{
    margin: 0 auto;
    width: 60%;
    align-items: center;

}
input, textarea, select {
  width: 60%;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 1em;
}

input[type="submit"], input[type="reset"] {
  width: auto;
  padding: 0.5em 1em;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover, input[type="reset"]:hover {
  background-color: #0056b3;
}

.paragraphs{
  text-align: justify;
  padding: 25px
}

.schedule{
  margin: 0 auto;
  width: 60%;
  float: center;
  border: 20px;
  padding: 25;
  text-align: center;

}