a:link {
    color: #1E1EA4;
}

a:visited {
    color: #db0d0d;
}

li {
    color: #1E1EA4;
    text-align: center;
}

nav {
    text-align: center;
}

ul{
    text-align: center;
    color: #370B0B;
    text-decoration-color: #F6A684;
}


footer{
    color: #370B0B;
    text-align: center;
    text-decoration-color: #F6A684;
}

body {
    background-color: #C0D265;

}

h1 {
    color: #1E1EA4;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    text-align: center;
}

h2 {
    color: #1E1EA4;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    text-align: justify;
}

p {
    color: #1E1EA4;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

.first {
    font-style: italic;
}

